* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* 消除滚动条,但是依然可以滚动 */
::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}
html {
    font-size: 100px
}
body {
    width: 4.35rem;
    color: #6A6B6F;
    margin: 0 auto;
    font-size: 0.16rem;
}
.header {
    margin: 0.3rem auto;
    text-align: center;
}
#id-player {
    margin: 0.14rem auto;
    position: relative;
}
#id-show {
    box-shadow: 3px 6px 12px 0px #888888;
}
#id-player-img img {
    width: 1.2rem;
    height: 1.2rem;
}
#id-player-img {
    width: 1.4rem;
}
#id-player-img .iconSpan {
    text-align: center;
    width: 0.6rem;
    height: 0.6rem;
    line-height: 0.6rem;
    position: absolute;
    font-size: 0.7rem;
    background-color: #1a95a9;
    border-radius: 50%;
    top: 0.25rem;
    left: -0.3rem;
}
#id-player-img i {
    display: block;
    font-size: 0.5rem;
    line-height: 0.6rem;
    color: rgb(255, 255, 255);
}
#id-player-img .icon-pause2 {
    color: rgb(255, 255, 255);
}
#id-show p.song-name {
    position: absolute;
    top: 0.1rem;
    left: 1.4rem;
}
#id-show p.artists {
    position: absolute;
    top: 0.32rem;
    left: 1.4rem;
}
.progress-range {
    position: absolute;
    top: 0.7rem;
    left: 1.4rem;
    width: 2.86rem;
    height: 0.1rem;
    background-color: #c1ccd8;
}
.progress-num {
    position: absolute;
    top: 0.9rem;
    left: 1.4rem;
}
.progress {
    height: 0.1rem;    
    background-color: #1a95a9
}
.muted.iconfont {
    position: absolute;
    top: 0.94rem;
    left: 2.4rem;
}
.volume-range {
    width: 1.3rem;
    height: 0.1rem;
    background-color: #c1ccd8;
    position: absolute;
    top: 0.97rem;
    left: 2.65rem;
    border-radius: 0.03rem;
}
.volume {
    height: 0.1rem;
    background-color: #1a95a9;
    border-radius: 0.03rem;
}
.toggle-list.iconfont {
    position: absolute;
    top: 0.93rem;
    left: 4.1rem;
}
.loop-but.iconfont {
    position: absolute;
    top: 0.35rem;
    right: 0.1rem;
}
#id-view {
    padding-top: 0.3rem;
    position: relative;
}
#id-search {
    margin: 0 auto;
    position: absolute;
    left: 0.42rem;
}
.searchIpu {
    outline: none;
    width: 3rem;
    height: 0.3rem;
    padding: 0.1rem;
    border-radius: 0.1rem;
    border: 0.02rem double #FFBA23;
}
.searchType {
    outline: none;
    width: 0.4rem;
    height: 0.3rem;
    border-radius: 0.1rem;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    text-indent: 0.07rem;
    border: 0.02rem double #FFBA23;
}
.playAll {
    position: absolute;
    right: 0.2rem;
    top: 0.7rem;
    border: 0.02rem solid #FFBA23;
    border-radius: 0.1rem;
    padding: 0.01rem 0.06rem;
    outline: none;
}
#id-view a {
    text-decoration: none;
    color: #6A6B6F;
}
#id-view ul {
    list-style-type: none;
    margin: 0.4rem auto;
    max-height: 3.3rem;
    overflow: auto;
    padding: 0 0.1rem;
}
#id-view li {
    margin: 0.05rem;
    border-bottom: 0.02rem solid #1b95a9;
}
#id-view li.type-songs a.artistsName {
    text-align: right;
}

#id-view li.type-artists {
    display: inline-block;
    width: 45%;
    text-align: center;
}
#id-view li.type-artists img {
    width: 50%;
}
#id-view li.type-artists a {
    display: block;
}

#id-view li.type-playlists  {
    margin-bottom: 0.15rem;
    border-bottom: 0.02rem solid #1b95a9;
}
#id-view li.type-playlists a {

}
#id-view li.type-playlists span {
    display: block;
    font-size: 0.12rem;
}

.artistsIntroduce {
    margin: 0.4rem auto;
    padding: 0 0.1rem;
}
.artistsIntroduce img {
    width: 60%;
    border-radius: 0.1rem;
    box-shadow: 6px 4px 20px 5px;
}
.artistsIntroduce p {
    
}
.artistsIntroduce .hotSongs {
    margin: 0.2rem;
    width: 50%;
    height: 0.3rem;
    background-color: #1b95a9;
    color: white;
}


/* 响应式 手机 */
@media 